
<div class="delete-post-dialogue">
    <h2 id="main-instruction">
        Delete Post?
    </h2>
    <p id="description-pop">
        Are you sure that you want to delete this post?<br>
        You cannot undo this process.
    </p>
    <div class="buttons">
        <a href="/post/{{post.id}}"><button id="cancel-button">Cancel</button></a>
        <a href="/post/{{post.id}}/delete"><button id="delete-button">Delete</button></a>
    </div>
</div>