
<div class="delete-comment-dialogue">
    <h2 id="main-instruction">
        Delete Comment?
    </h2>
    <p id="description-pop">
        Are you sure that you want to delete this comment?<br>
        You cannot undo this process.
    </p>
    <form action="#" method="get" class="buttons">
        <a href="/post/{{post.id}}"><button type="button" id="cancel-button">Cancel</button></a>
        <button type="submit" id="delete-button">Delete</button>
    </form>
</div>