<html lang="en">
<head>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <title>Freedom Wall</title>
</head>
<body> 
    <div class="page">
        <div class="about">
            <div class="top">
                <h2>About</h2>
            </div>
            <div class="bot">
                <span>Packages Used:</span>
                <ul>
                    <li>Mongoose</li>
                    <li>Express</li>
                    <li>Handlebars &#40;hbs&#41;</li>
                    <li>Express-Flash</li>
                    <li>Express-Session</li>
                    <li>Express-Fileupload</li>
                    <li>Method-Override</li>
                    <li>Passport</li>
                    <li>Passport-local</li>
                    <li>Bcrypt</li>
                    <li>Dotenv</li>
                    <li>Nodemon</li>
                </ul>
            </div>
            <a id="about" href="/">Return to Freedom Wall</a>
        </div>
    </div>
</body>
</html>